<h1>New product</h1>

<%= render 'form' %>

<%= link_to 'Back', products_path %>

<%= form_for @product do |t| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :description %><br>
		<%= f.text_field :description %>
	</p>
	<p>
		<%= f.label :price_in_cents %><br>
		<%= f.text_field :price_in_cents%>
	</p>
	<p>
		<%= f.submit "Save" %>
	</p>
<% end %>

<h1>Sign Up</h1>

<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<div class="error_messages">
			<h2>Form is invalid</h2>
			<ul>
				<%= @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="field">
		<%= f.label :email %><br/>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :password %><br/>
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation %><br/>
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="actions"><%= f.submit %></div>
<% end %>

<h1>Log in</h1>

<%= form_tag sessions_path do %>
	<div class="field">
		<%= label_tag :email %><br/>
		<%= text_field_tag :email, params[:email] %>
	</div>
	<div class="field">
		<%= label_tag :password %>
		<%= password_field_tag :password %>
	</div>
	<div class="actions"><%= submit_tag "Log in" %></div>
	<div class="field">
		<%= f.label :name %><br/>
		<%= f.text_field :name %>
	</div>
<% end %>








